In [ ]:
Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
By using # and ''' .There are two types of comments single line and multiple line comments .
1.Single line comment
#comment code in Python
2.Multiple line comment
'''comment code in Python
different types of comments'''

In [ ]:
Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
A Python variable is a name that is refrence to the object.
num1=100
string='Delhi'

In [ ]:
Q3. How do you convert one data type to another in Python?

In [2]:
#Through type casting one data type can be converted into other.
num2=100

In [3]:
type(num2)

int

In [6]:
num2=str(num2)

In [7]:
type(num2)

str

In [ ]:
Q4. How do you write and execute a Python script from the command line?

In [ ]:
1.Using python command
python first_script.py
Hello World!

In [ ]:
Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [8]:
my_list=[1,2,3,4,5]

In [9]:
my_list

[1, 2, 3, 4, 5]

In [10]:
my_list[1:3]

[2, 3]

In [ ]:
Q6. What is a complex number in mathematics, and how is it represented in Python?

In [11]:
# Complex numbers are the numbers that are expressed in the form of a+ib where, a,b are real numbers and 'i' is an imaginary number.
# In Python it is represented by a+bj
complex_number= 4+5j

In [12]:
type(complex_number)

complex

In [ ]:
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
Age=25

In [ ]:
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [13]:
Price=9.99

In [14]:
type(Price)

float

In [ ]:
Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [15]:
name="Ashish Pal"
print(name)

Ashish Pal

In [ ]:
Q10. Given the string "Hello, World!", extract the substring "World".

In [16]:
String = "Hello, World!"

In [21]:
String[7:12]

'World'

In [23]:
String[-6:-1]

'World'

In [ ]:
Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [25]:
is_student=True
if is_student:
    print("You are a currently a Student")
else:
    print("You are not a Student")

You are a currently a Student